<!-- Copyright {{ "now"|date('Y') }} -->
<div class="container-fluid">
	<div class="row justify-content-between">
		<div class="col-2">
			<div class="footer__row">
				<h3>MENU</h3>
				<a href="">NEW</a> 
				<a href="">BASICS</a>
				<a href="">PRINTS</a>
				<a href="">JACKETS</a>
				<a href="">BOTTOMS</a>
				<a href="">ACCESSORIES</a>
				<a href="">GIFT CARD</a>
				<a class="red" href="">SALE</a>
			</div>
		</div>
		<div class="col-2">
			<div class="footer__row">
				<h3>SUPPORT</h3>
				<a href="">NEW</a> 
				<a href="">BASICS</a>
				<a href="">PRINTS</a>
				<a href="">JACKETS</a>
				<a href="">BOTTOMS</a>
				<a href="">ACCESSORIES</a>
				<a href="">GIFT CARD</a>
				<a class="red" href="">SALE</a>
			</div>
		</div>
		<div class="col-2">
			<div class="footer__row">
				<h3>ACCOUNT</h3>
			</div>
		</div>
		<div class="col-4">
	
		</div>
	</div>
</div>
