.hero {
  height: 100vh;
  background-image: url('https://cdn.shopify.com/s/files/1/1723/1243/files/SMJ07432_2700x.jpg?v=1655157795');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
